<!-- header widgets -->
<!--div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="widget widget-tile">
            <div id="spark1" class="chart sparkline"></div>
            <div class="data-info">
                <div class="value"><span class="indicator fa-green fa fa-angle-double-up"></span><span data-toggle="counter" data-end="645" class="number">0</span>
                </div>
                <div class="desc">Download</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget widget-tile">
            <div id="spark2" class="chart sparkline"></div>
            <div class="data-info">
                <div class="value"><span class="indicator fa-blue fa fa-angle-up"></span><span data-toggle="counter" data-end="99" data-suffix="%" class="number">0</span>
                </div>
                <div class="desc">Revenue</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget widget-tile">
            <div id="spark3" class="chart sparkline"></div>
            <div class="data-info">
                <div class="value"><span class="indicator indicator-equal fa fa-angle-right"></span><span data-toggle="counter" data-end="1313" class="number">0</span>
                    <div class="desc">Veiws</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget widget-tile">
            <div id="spark4" class="chart sparkline"></div>
            <div class="data-info">
                <div class="value"><span class="indicator fa fa-orange fa-xs fa-angle-right"></span><span data-toggle="counter" data-end="113" class="number">0</span>
                </div>
                <div class="desc">Projects</div>
            </div>
        </div>
    </div>
</div-->
<!-- end header widgets -->
<!-- second row -->
<!--div class="row">
    <div class="col-lg-4">
        <div class="panel">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title txt-dark"><i class="icon-chart mr-10"></i>Radar Chart</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <canvas id="chart_3" height="360"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel text-center">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title txt-dark"><i class="fa fa-area-chart"> </i> Area Chart</h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div id="morris_area_chart" class="morris-chart"></div>
            </div>
        </div>
    </div>
</div-->
<!-- end second row -->
<!-- third row -->
<!--div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Visitors location</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <div id="visitors_map" style="height: 400px"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="table-wrap">
                                <table class="table visitors-country">
                                    <tbody>
                                        <tr>
                                            <td><img src="img/flags/australia.svg" alt="country flag"></td>
                                            <td>Australia</td>
                                            <td>2349</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/canada.svg" alt="country flag"></td>
                                            <td>Canada</td>
                                            <td>813</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/united-kingdom.svg" alt="country flag"></td>
                                            <td>United Kigdom</td>
                                            <td>334</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/united-states-of-america.svg" alt="country flag"></td>
                                            <td>United States</td>
                                            <td>134</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/france.svg" alt="country flag"></td>
                                            <td>France</td>
                                            <td>90</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/china.svg" alt="country flag"></td>
                                            <td>China</td>
                                            <td>50</td>
                                        </tr>
                                        <tr>
                                            <td><img src="img/flags/russia.svg" alt="country flag"></td>
                                            <td>Russia</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<!-- end third row -->