<!--app-spinner [titulo]="tituloSpinner"></app-spinner-->
<button mat-raised-button color="primary" (click)="nuevo()">+ Nuevo</button>
<br>
<br>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="listaUsuarios">

        <ng-container matColumnDef="USUARIO">
            <th mat-header-cell *matHeaderCellDef> USUARIO </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
        </ng-container>

        <ng-container matColumnDef="CELULAR">
            <th mat-header-cell *matHeaderCellDef> CELULAR </th>
            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
        </ng-container>

        <ng-container matColumnDef="CORREO">
            <th mat-header-cell *matHeaderCellDef> CORREO </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="PERFIL">
            <th mat-header-cell *matHeaderCellDef> PERFIL </th>
            <td mat-cell *matCellDef="let element"> {{element.nombrePerfil}} </td>
        </ng-container>

        <ng-container matColumnDef="ESTADO">
            <th mat-header-cell *matHeaderCellDef> ESTADO </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionEstado}} </td>
        </ng-container>

        <ng-container matColumnDef="ACCIONES">
            <th mat-header-cell *matHeaderCellDef [width]="150"> ACCIONES </th>
            <td mat-cell *matCellDef="let element">
                <button *ngIf="element.idPerfil !== 1" mat-icon-button color="primary" (click)="editar(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <!--button *ngIf="element.id !== 1 && element.estado===1" mat-icon-button color="warn" (click)="eliminar(element)">
                    <mat-icon>delete</mat-icon>
                </button-->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>